h1{
  display: flex;
  justify-content: left;
  font-family: fantasy;
}

#form{
  display: flex;
  justify-content: space-around;
  background-color: beige;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 18rem; 
}

input{
  margin: 1rem;
}

.library{
  display: flex;
  justify-content: right;
  background-color: darkgrey;
}